*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.btnLogin{
    background-color: #382328f1;
    font-size: 24px;
    color: #e3e3e3;
    margin: 50px 65px;
    padding: 10px;
}


.btnLogin:hover{
    background-color: #4d353af1;
    font-size: 24px;
    color: #e3e3e3;
    margin: 50px 65px;
}